<p id="notice"><%= notice %></p>
<div class="container">
  <div class="d-flex align-items-center justify-content-center position-relative">
    <% if @name == 'ankit' %>
      <h2 class="text-center p-3 text-uppercase">Ankit Lists</h2>
    <% else %>
      <h2 class="text-center p-3 text-uppercase">Vinayak Lists</h2>
    <% end %>

    <%= link_to 'New Resolution', new_resolution_path, class: 'position-absolute end-0 bg-primary px-4 py-2 text-white rounded-3 mr-2 text-decoration-none' %>
  </div>
  <div class="table-responsive text-center">
    <table class="table table-striped table-hover border border-dark">
      <thead>
        <tr>
          <% if @name == 'ankit' %>
            <th>Date</th>
            <th>Coaching</th>
            <th>Program</th>
            <th>Speaking</th>
            <th>Project</th>
            <th>Words</th>
          <% else %>
            <th>Date</th>
            <th>Gym</th>
            <th>Fruit</th>
            <th>Gren Tea</th>
            <th>No Junk Food</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @resolutions.each do |resolution| %>
          <tr>
            <% if @name == 'ankit' %>
              <td><%= resolution&.date&.to_time&.strftime('%e %B') %></td>
              <td><%= resolution.coaching %></td>
              <td><%= resolution.program %></td>
              <td><%= resolution.speaking %></td>
              <td><%= resolution.project %></td>
              <td><%= resolution.words %></td>
            <% else %>
              <td><%= resolution&.date&.to_time&.strftime('%e %B') %></td>
              <td><%= resolution.gym %></td>
              <td><%= resolution.fruit %></td>
              <td><%= resolution.green_tea %></td>
              <td><%= resolution.no_junk_food %></td>
            <% end %>
            <td><%= link_to 'Destroy', resolution, method: :delete, data: { confirm: 'Are you sure?', "turbo-method": :delete } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>  
<br>

