<!DOCTYPE html>
<html>
  <head>
    <title>ResolutionManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-3">
    <a class="navbar-brand fw-bold text-uppercase" href="/">Resolution Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <li class="nav-item px-2"><%= link_to "Ankit", resolutions_path(name: 'ankit'), class: 'nav-link h6 mb-0 text-dark'%></li>
            <li class="nav-item px-2"><%= link_to "Vinayak", resolutions_path(name: 'vinayak'), class: 'nav-link h6 mb-0 text-dark'%></li>
            <li class="nav-item px-2">
              <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete }, class: 'nav-link h6 mb-0 text-dark' %>
            </li>
          </li>
        <% else %>
          <li class="nav-item px-2">
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link h6 mb-0 text-dark' %>
          </li>
          <li class="nav-item px-2">
            <%= link_to 'Register', new_user_registration_path, class: 'nav-link h6 mb-0 text-dark' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
